body {
     background-color: rgb(41, 41, 41);
}
.container {
     display: flex;
     flex-direction: row;
}
.input {
     margin-top: 40%;
     margin-left: 10%;
     margin-right: 10%;
     width: 1040px;
     height: 25px;
     padding-top: 6px;
     padding-left: 15px;
     padding-right: 15px;
     font-family: 'Poppins', sans-serif;
     font-size: 17px;
     border: 2px solid rgb(53, 255, 46);
     border-radius: 100px;
     background-color: rgb(76, 83, 117);
     color: rgb(0, 255, 76);
     resize: none;
}
.container-ia, .container-usu {
     display: flex;
     flex-direction: column;
     gap: 5px;
     overflow-y: auto;
}
.msg {
     border-radius: 100px;
     background-color: rgb(48, 22, 22);
     color: rgb(255, 38, 0);
     font-family: 'Poppins', sans-serif;
     padding: 10px;
     margin: 5px;
}