body {
     background-color: rgb(98, 30, 138);
     scroll-behavior: smooth;
}
.inicio {
     text-align: center;
     margin-top: 500px;
     color: rgb(255, 255, 255);
     margin-top: 250px;
     font-size: 20px;
     font-family: 'Playfair Display', serif;
}
.container {
     display: flex;
     flex-direction: row;
     position: fixed;
     left: 10%;
     right: 10%;
     bottom: 20px;
}
.input {
     margin-left: 10%;
     margin-right: 10%;
     align-self: center;
     width: 1040px;
     height: 25px;
     padding-top: 6px;
     padding-left: 20px;
     font-family: 'Poppins', sans-serif;
     font-size: 17px;
     font-weight: 700;
     border: 2px solid rgb(251, 255, 0);
     border-radius: 100px;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     resize: none;
}
.container-ia {
     display: flex;
     position: relative;
     flex-direction: column;
     gap: 5px;
     overflow-y: auto;
     scroll-behavior: smooth;
     margin-left: 50px;
     margin-right: 50px;
     align-items: flex-start;
     margin-bottom: 100px;
}
.msg {
     border-radius: 100px;
     background-color: rgb(0, 236, 224);
     color: rgb(0, 26, 255);
     font-family: 'Playfair Display', serif;
     padding: 10px;
     margin: 5px;
     display: inline-block;
     max-width: 70%;
     white-space: normal;
     overflow-wrap: break-word;
     word-break: break-word;
     box-sizing: border-box;
     align-self: flex-start;
}
.msgin {
     border-radius: 100px;
     background-color: rgb(163, 0, 155);
     color: rgb(255, 255, 255);
     font-family: 'Poppins', sans-serif;
     padding: 10px;
     margin: 5px;
     display: inline-block;
     max-width: 70%;
     white-space: normal;
     overflow-wrap: break-word;
     word-break: break-word;
     box-sizing: border-box;
     align-self: flex-end;
}